{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "max-len": [1, 180, 2, { "ignoreComments": true }],
        "linebreak-style": 0,
        "prop-types": [2],
        "plugins": ["react"],
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "extends": ["airbnb-base"]
    }
}