.date {
    position: relative;

    &__time, &__date {
        font-size: 0.8rem;
        font-weight: 400;
        font-style: italic;
        font-family: 'Rubik';

        b {
            font-weight: 600;
            font-size: 1.05rem;
            font-style: initial;
            font-family: 'Lato';
        }
    }

    &__time {
        color: #008000;
    }

    &__date {
        color: #0f8ac4;
    }
}