@import '../../../../assets/sass/modules/_mixins';
@import '../../../../assets/sass/base/_palette';
@import '../../../../assets/sass/base/_typography';

.p-promise {
    font-weight: 100;
    font-family: 'Ubuntu';
    color: $silverdark;
    font-size: 0.9rem;
    text-align: right;

    span {
        font-weight: 600;
        font-size: 1rem;
        color: $orangered-d;
    }
}

.sc-promise {
    text-align: right;
}