/**
 * Color Palette
 */

// Purple
$purple-t: #f4f0fc;
$purple-d: #a680fb;
$orchid-t: #e5c8ff;
$orchid-d: #7400E1;
$violet-t: #f8ecf8;
$violet-d: #bb48be;

// Orange
$orange-t: #fdf4ed;
$orange-d: #ec9454;
$orangered-t: #ffe3c7;
$orangered-d: #ec7404;

// Blue
$aqua-t: #ebfaf9;
$aqua-d: #6fddd9;
$turquoise-t: #ceecfc;
$turquoise-d: #7acaff;
$blue-t: #eef5fe;
$blue-s: #61a6f5;
$deepskyblue-t: #e5f7f9;
$deepskyblue-d: #02b1c6;
$royalblue-t: #ebeef5;
$royalblue-d: #485ca3;
$midnight-t: #b4c9ff;
$midnight-d: #4273e8;

// Red
$salmon-t: #fdeef0;
$salmon-d: #eb5468;
$red-t: #fdeee9;
$red-d: #f43902;
$lightred-t: #feeceb;
$lightred-d: #f7473f;
$tomato-t: #fdd5d8;
$tomato-d: #f24c55;

// Green
$palegreen-t: #e1fcc7;
$palegreen-d: #9cd26e;
$limegreen-t: #f1fdf2;
$limegreen-d: #1dec3a;
$forest-t: #9deed8;
$forest-d: #4FBF9F;
$indiagreen: #138808;
$mediumseagreen: #3CB371;

// Brown
$sandybrown-t: #fdf7ea;
$sandybrown-d: #e1b002;

// Yellow
$gold-t: #ffefb5;
$gold-d: #ffce1e;

// Gray
$silver: #c0c0c0;
$darkslategray: #32383e;
$darkdimgray: #464f5c;
$darkgray: #a1a6ab;
$lightgray-t: #f3f5f6;
$lightgray: #9fa9b4;

// White
$white: #fff;
$white-s: #fbfbfb;
$white-d: #f7f7f7;

// Black
$black: #000;
$charcoaldark: #111;
$charcoal: #222;
$charcoalsoft: #333;
$plummett: #444;
$charcoalsoften: #555;

// Gray
$gainsborolight: #ddd;
$gainsborolighten: #e8e8e8;
$gainsboro: #dcdcdc;
$gainsborosoft: #eee;
$lightgraysoft: #f0f0f0;
$silver: #ccc;
$silverdark: #bbb;
$dimgray: #666;
$dimgraysoft: #888;
$darkgray: #a9a9a9;
$graysoft: #999;
$lightslategray: #777;

// Social
$facebook: #3b5998;
$instagram: #8a49a1;
$whatsapp: #25D366;