@import '../../../../assets/sass/modules/_mixins';
@import '../../../../assets/sass/base/_palette';
@import '../../../../assets/sass/base/_typography';

.sc-process {
    text-align: left;
}

.p-process {
    font-weight: 400;
    font-family: 'Ubuntu';
    color: $darkslategray;
    text-align: left;
    font-size: 1rem;

    span {
        font-weight: 600;
        font-size: 1rem;
        color: $mediumseagreen;
    }
}

