/**
 * Color Palette
 */
.status {
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-family: 'Rubik';
  font-weight: 300;
  color: #464f5c; }

.board-row:after {
  clear: both;
  content: "";
  display: table; }
