.burger {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 600;
  display: inline-block;
  margin-left: 0 5px 0 0;
  -moz-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -ms-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  .burger:hover span {
    background: #464f5c none repeat scroll 0% 0%; }
  .burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #666 none repeat scroll 0% 0%;
    opacity: 1;
    right: 0px;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    transform: rotate(0deg); }
    .burger span:nth-child(1) {
      margin-top: 0px; }
    .burger span:nth-child(2) {
      margin-top: 8px;
      margin-right: 0px; }
    .burger span:nth-child(3) {
      margin-top: 17px; }

.burger-open {
  z-index: 444444; }
  @media (min-width: 1366px) {
    .burger-open {
      right: -100%; } }
  @media (max-width: 1366px) {
    .burger-open {
      right: -50%; } }
  @media (max-width: 1280px) {
    .burger-open {
      right: auto; } }
  .burger-open span {
    background: #464f5c none repeat scroll 0% 0%; }
    .burger-open span:nth-child(1) {
      transform: rotate(135deg);
      margin-top: 10px; }
    .burger-open span:nth-child(2) {
      opacity: 0;
      right: -75px; }
    .burger-open span:nth-child(3) {
      transform: rotate(-135deg);
      margin-top: 10px; }
