@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:500");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Rubik:300");
@import url("https://fonts.googleapis.com/css?family=Rubik:500");
@import url("https://fonts.googleapis.com/css?family=Rubik:700");
@import url("https://fonts.googleapis.com/css?family=Rubik:900");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500");
@import url("https://fonts.googleapis.com/css?family=Quicksand:700");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Cabin:500");
@import url("https://fonts.googleapis.com/css?family=Cabin:600");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Muli:200");
@import url("https://fonts.googleapis.com/css?family=Muli:300");
@import url("https://fonts.googleapis.com/css?family=Muli:600");
@import url("https://fonts.googleapis.com/css?family=Muli:700");
@import url("https://fonts.googleapis.com/css?family=Muli:800");
@import url("https://fonts.googleapis.com/css?family=Muli:900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Kalam");
.information {
  position: relative;
  width: calc(98% - 350px);
  height: 100%;
  text-align: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: space-between;
  -moz-align-items: space-between;
  -ms-align-items: space-between;
  align-items: space-between; }
  @media (max-width: 992px) {
    .information {
      width: 100%;
      text-align: center;
      margin: 50px 0 0 0; } }
  .information-person {
    display: block;
    margin: 10px 0; }
    .information-person__name {
      font-size: 1.4rem;
      font-weight: 400;
      font-family: 'Rubik';
      margin: 0;
      color: #464f5c; }
    .information-person__phone {
      font-size: 1rem;
      font-weight: 300;
      font-family: 'Ubuntu';
      color: #a9a9a9; }
