@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
.page {
  width: 100%;
  position: relative; }
  .page .interactions {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 20px; }
    .page .interactions form {
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      .page .interactions form[type="submit"] {
        -webkit-appearance: none; }
      .page .interactions form input {
        width: 300px;
        width: 300px;
        padding: 5px 10px;
        border: 2px solid #eee;
        font-size: 0.9rem;
        font-weight: 500;
        color: #eee;
        outline: none;
        transition: border 0.3s linear, color 0.3s linear; }
        .page .interactions form input:focus {
          will-change: border, color;
          border: 2px solid #333;
          color: #333; }
      .page .interactions form button {
        width: 100px;
        height: 100%;
        border: none;
        border: 2px solid #333;
        color: #eee;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 400;
        background: #333;
        cursor: pointer;
        outline: none;
        transition: border 0.3s linear, background 0.3s linear, color 0.3s linear; }
        .page .interactions form button:hover {
          will-change: border, background, color;
          border: 2px solid #333;
          color: #333;
          background: transparent; }
  .page .list {
    width: 100%;
    padding: 0 20px; }
    .page .list .list-row {
      display: block;
      position: relative; }
      .page .list .list-row a {
        font-size: 0.9rem;
        font-weight: 500;
        color: #333;
        text-decoration: none; }
        .page .list .list-row a:hover {
          text-decoration: underline; }

.dashboard {
  position: relative;
  padding: 20px; }
  .dashboard-title {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
    text-decoration: underline;
    padding: 0 10px; }
  .dashboard-grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    position: relative; }
    .dashboard-grid .toggle,
    .dashboard-grid .validation,
    .dashboard-grid .search,
    .dashboard-grid .fetchdata,
    .dashboard-grid .performance,
    .dashboard-grid .passingdata,
    .dashboard-grid .reactstate,
    .dashboard-grid .pagination,
    .dashboard-grid .infinitescroll,
<<<<<<< HEAD
    .dashboard-grid .websockets,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
    .dashboard-grid .sessionlocalstorage,
    .dashboard-grid .other {
      width: calc(92% / 4);
      margin: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row wrap; }
      @media (max-width: 1080px) {
        .dashboard-grid .toggle,
        .dashboard-grid .validation,
        .dashboard-grid .search,
        .dashboard-grid .fetchdata,
        .dashboard-grid .performance,
        .dashboard-grid .passingdata,
        .dashboard-grid .reactstate,
        .dashboard-grid .pagination,
        .dashboard-grid .infinitescroll,
<<<<<<< HEAD
        .dashboard-grid .websockets,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
        .dashboard-grid .sessionlocalstorage,
        .dashboard-grid .other {
          width: calc(92% / 3); } }
      @media (max-width: 853px) {
        .dashboard-grid .toggle,
        .dashboard-grid .validation,
        .dashboard-grid .search,
        .dashboard-grid .fetchdata,
        .dashboard-grid .performance,
        .dashboard-grid .passingdata,
        .dashboard-grid .reactstate,
        .dashboard-grid .pagination,
        .dashboard-grid .infinitescroll,
<<<<<<< HEAD
        .dashboard-grid .websockets,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
        .dashboard-grid .sessionlocalstorage,
        .dashboard-grid .other {
          width: calc(90% / 2); } }
      @media (max-width: 533px) {
        .dashboard-grid .toggle,
        .dashboard-grid .validation,
        .dashboard-grid .search,
        .dashboard-grid .fetchdata,
        .dashboard-grid .performance,
        .dashboard-grid .passingdata,
        .dashboard-grid .reactstate,
        .dashboard-grid .pagination,
        .dashboard-grid .infinitescroll,
<<<<<<< HEAD
        .dashboard-grid .websockets,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
        .dashboard-grid .sessionlocalstorage,
        .dashboard-grid .other {
          width: 100%; } }
      .dashboard-grid .toggle-title,
      .dashboard-grid .validation-title,
      .dashboard-grid .search-title,
      .dashboard-grid .fetchdata-title,
      .dashboard-grid .performance-title,
      .dashboard-grid .passingdata-title,
      .dashboard-grid .reactstate-title,
      .dashboard-grid .pagination-title,
      .dashboard-grid .infinitescroll-title,
<<<<<<< HEAD
      .dashboard-grid .websockets-title,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
      .dashboard-grid .sessionlocalstorage-title,
      .dashboard-grid .other-title {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        color: #777;
        margin: 0;
        padding: 7px 10px;
        background: #f9f9f9;
        border-radius: 2px; }
      .dashboard-grid .toggle-wrapper,
      .dashboard-grid .validation-wrapper,
      .dashboard-grid .search-wrapper,
      .dashboard-grid .fetchdata-wrapper,
      .dashboard-grid .performance-wrapper,
      .dashboard-grid .passingdata-wrapper,
      .dashboard-grid .reactstate-wrapper,
      .dashboard-grid .pagination-wrapper,
      .dashboard-grid .infinitescroll-wrapper,
<<<<<<< HEAD
      .dashboard-grid .websockets-wrapper,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
      .dashboard-grid .sessionlocalstorage-wrapper,
      .dashboard-grid .other-wrapper {
        width: 100%;
        padding: 10px;
        background: #fff;
        border: 1px solid #f9f9f9; }
      .dashboard-grid .toggle-item a,
      .dashboard-grid .validation-item a,
      .dashboard-grid .search-item a,
      .dashboard-grid .fetchdata-item a,
      .dashboard-grid .performance-item a,
      .dashboard-grid .passingdata-item a,
      .dashboard-grid .reactstate-item a,
      .dashboard-grid .pagination-item a,
      .dashboard-grid .infinitescroll-item a,
<<<<<<< HEAD
      .dashboard-grid .websockets-item a,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
      .dashboard-grid .sessionlocalstorage-item a,
      .dashboard-grid .other-item a {
        font-size: 0.9rem;
        font-weight: 400;
        color: #bbb;
        transition: all 0.3s ease; }
        .dashboard-grid .toggle-item a:hover,
        .dashboard-grid .validation-item a:hover,
        .dashboard-grid .search-item a:hover,
        .dashboard-grid .fetchdata-item a:hover,
        .dashboard-grid .performance-item a:hover,
        .dashboard-grid .passingdata-item a:hover,
        .dashboard-grid .reactstate-item a:hover,
        .dashboard-grid .pagination-item a:hover,
        .dashboard-grid .infinitescroll-item a:hover,
<<<<<<< HEAD
        .dashboard-grid .websockets-item a:hover,
=======
>>>>>>> 8f4b433d0f13e2050ebd945aca00d9816f0c95a9
        .dashboard-grid .sessionlocalstorage-item a:hover,
        .dashboard-grid .other-item a:hover {
          will-change: all;
          text-decoration: underline;
          color: #777; }

.arraystate {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap; }
  .arraystate .list,
  .arraystate .alphabet,
  .arraystate .numbers {
    width: calc(92% / 3);
    margin: 10px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px; }
    @media (max-width: 992px) {
      .arraystate .list,
      .arraystate .alphabet,
      .arraystate .numbers {
        width: calc(92% / 2); } }
    @media (max-width: 768px) {
      .arraystate .list,
      .arraystate .alphabet,
      .arraystate .numbers {
        width: 100%; } }
    .arraystate .list li,
    .arraystate .alphabet li,
    .arraystate .numbers li {
      list-style: none;
      font-size: 0.9rem;
      font-weight: 400;
      color: #333;
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .arraystate .list li .li-button,
      .arraystate .alphabet li .li-button,
      .arraystate .numbers li .li-button {
        border: none;
        border-radius: 15px;
        padding: 5px 20px;
        border: 2px solid #333;
        background: #fff;
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 500; }
        .arraystate .list li .li-button:hover,
        .arraystate .alphabet li .li-button:hover,
        .arraystate .numbers li .li-button:hover {
          background: #333;
          color: #fff; }
    .arraystate .list input,
    .arraystate .alphabet input,
    .arraystate .numbers input {
      padding: 10px 15px;
      border: none;
      border: 2px solid #ccc;
      border-radius: 25px;
      font-size: 0.85rem;
      font-weight: 400;
      color: #333;
      margin-top: 20px;
      width: 100%;
      transition: all 0.3s ease; }
      .arraystate .list input:focus,
      .arraystate .alphabet input:focus,
      .arraystate .numbers input:focus {
        border: 2px solid #333;
        outline: none; }
    .arraystate .list .ul-button,
    .arraystate .alphabet .ul-button,
    .arraystate .numbers .ul-button {
      margin-top: 10px;
      border: none;
      border-radius: 15px;
      padding: 7px 20px;
      border: 2px solid #333;
      background: #fff;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 500; }
      .arraystate .list .ul-button:hover,
      .arraystate .alphabet .ul-button:hover,
      .arraystate .numbers .ul-button:hover {
        background: #333;
        color: #fff; }
    .arraystate .list .numbers-buttons,
    .arraystate .alphabet .numbers-buttons,
    .arraystate .numbers .numbers-buttons {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-flow: row wrap; }
      .arraystate .list .numbers-buttons .numbers-btn,
      .arraystate .alphabet .numbers-buttons .numbers-btn,
      .arraystate .numbers .numbers-buttons .numbers-btn {
        width: calc(94% / 2); }
  .arraystate .clearreset {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .arraystate .clearreset .clearreset-btn {
      margin: 10px;
      border: none;
      border-radius: 15px;
      padding: 7px 20px;
      border: 2px solid #333;
      background: #fff;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 500; }
      .arraystate .clearreset .clearreset-btn:hover {
        background: #333;
        color: #fff; }

.red {
  background: red !important; }

.green {
  background: green !important; }

.was-validated .form-control:valid ~ .invalid-feedback {
  display: none; }
