@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
.red {
  background: red !important; }

.green {
  background: green !important; }

.was-validated .form-control:valid ~ .invalid-feedback {
  display: none; }
