// Media Queries
// Basic Media Queries
$xxl-breakpoint: 1280px; // 1
$xl-breakpoint: 1200px; // 2
$llg-breakpoint: 1050px; // 3
$lg-breakpoint: 992px; // 4 
$mmd-breakpoint: 768px; // 5
$md-breakpoint: 720px; // 6
$ssm-breakpoint: 640px; // 7
$sm-breakpoint: 533px; //8
$xs-breakpoint: 414px; // 9
$xxs-breakpoint: 320px; // 10

// Account Classes
